html,
body,
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p {
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex: 1 80%;
    background-color: #007AFF;
    width: 80%;
}

.links ul {
    text-decoration: none;
    padding: 10px;
}

.links ul p {
    display: inline;
    margin-left: -35%;
}

.links ul li a {
    text-decoration: none;
    padding: 30px;
    color: white;
}

.links ul li a span {
    border-bottom: 2px solid white;
    padding-top: 5px;
}

.links b {
    margin-left: 200%;
    border: 1px solid blue;
    text-align: center;
    height: 20px;
    width: 40px;
}

.links h1 {
    width: 30%;
    color: white;
    padding-left: 30%;
    padding-top: 20%;
}

.links p {
    width: 60%;
    color: white;
    padding-left: 30%;
    line-height: 20px;
    font-size: 20px;
}

.text1 {
    padding-top: 30%;
}

.text1 p {
    color: white;
    border: 1px solid white;
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-left: -400%;
}

.image img {
    padding: 20%;
    margin-left: 20%;
}

.section {
    display: flex;
    flex: 1 20%;
    background-color: white;
}